<div class="container" style="position: relative; top: 100px">
	<div class="panel panel-primary">
		<div class="panel-heading">{{pageTitle}}</div>
		<div class="panel-body">
			<div class="row">
				<span class="img-responsive center-block"
					style="width: 50px; font-size: 50px; color: #ff0080"> <span
					class="glyphicon glyphicon-shopping-cart"> </span>
				</span>
				<div id="div1"
					style="text-align: center; color: #ff0080; font-size: 40px">
					mCart</div>

			</div>
			<br /> <br />
			<div class="row" style="color: blue">
				<div class="text-center" style="font-size: 20px">Developed by:</div>
				<h3 class="text-center" style="font-size: 15px">UI & Markup
					Team - ETA</h3>
				<h3 class="text-center" style="font-size: 15px">Infosys Limited</h3>
			</div>
		</div>
	</div>
</div>